<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
							http://code.alibabatech.com/schema/dubbo
							http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <import resource="classpath:applicationContext-data.xml"/>
    <import resource="classpath:applicationContext-consumer.xml"/>
    <import resource="classpath:applicationContext-service.xml"/>

    <dubbo:service interface="com.alankin.IUserRouteService" ref="routeUserService"/>
    <!--<dubbo:service interface="com.alankin.user.api.IUserRouteService" ref="userRouteService" />-->
    <dubbo:service interface="com.alankin.ILoginService" ref="loginService" />
    <!--<dubbo:service interface="com.alankin.common.api.ILogApi" ref="logBusinessApiImpl" />-->
    <!--<dubbo:service interface="com.alankin.user.api.IFileUploadService" ref="fileUploadService" />-->

</beans>    