<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 服务消费者 -->
    <!--<dubbo:reference id="prmissionSService" interface="com.alankin.permission.api.IPermissionSService" check="false"/>-->
    <!---->
    <!--<dubbo:reference id="sessionHandler" interface="com.alankin.pre.api.ISessionHandler" check="false"/>-->
    <!---->
    <!--<dubbo:reference id="centerBusinessLog" interface="com.alankin.common.api.ILogApi" check="false"/>-->
    <!---->
</beans>